@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Apply</title>
    </head>
    <body>
        Course Index
    </body>
</html>

