@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apply</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h3> @ViewBag.Greeting Student, How Are You?</h3>
        <h4>Hope, You will enjoy the course.</h4>
        <a asp-action="apply" class="btn btn-primary">Apply The Course</a>
    </div>
</body>
</html>
